$indigo: #8f4d2b;
$white: #f6ecec;
$dark: #000000;
$green: #6db99f;
$gradient: linear-gradient(203deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
$gradient2: linear-gradient(250deg, rgb(125, 226, 88) 24%, rgba(52, 108, 255, 1) 100%);
.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
